{% extends "base.html" %}

{% block title %}News{% endblock %}

{% block content %}
<div class="col-md-12">
    <div class="card card-round">
        <div class="card-header">
            <div class="card-head-row card-tools-still-right">
                <h1>Billiard League</h1>
            </div>
            <p class="card-category">
            <p>Welcome to the Billiard League portal. Stay updated with the latest news from clubs, tournaments, and games.</p>
        </div>
        <div class="card-body">
            <div id="news-container">
                <!-- News will be dynamically loaded here -->
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/pages/news-get.js') }}"></script>
{% endblock %}
